---
import {alertVariants} from "@/components/ui/alert"
import Main from "@/layouts/main.astro"
import {zSigninValues} from "@/lib/auth"
import {cn} from "@/lib/utils"
import {getForm, getRedirectLocation} from "asf:actions"
import {actions} from "astro:actions"
import {superValidate} from "sveltekit-superforms"
import {zod} from "sveltekit-superforms/adapters"
import Form from "./_form.svelte"

const result = Astro.getActionResult(actions.auth.signin)

const location = getRedirectLocation(result)
if (location) return Astro.redirect(location)

const sv = getForm(result) ?? (await superValidate(zod(zSigninValues)))
---

<Main>
  <Form {sv}>
    {
      sv.message && (
        <div class={cn(alertVariants({variant: "destructive"}))} role="alert">
          <span class="icon i-lucide-circle-alert h-4 w-4" />
          <h5 class="mb-1 font-medium leading-none tracking-tight">Erreur</h5>
          <div class="text-sm [&_p]:leading-relaxed">{sv.message.text}</div>
        </div>
      )
    }
  </Form>
</Main>
